
<div class="main row single user-container">
  <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
  	<div class="flipper">
  		<div class="front">
        <%= link_to image_tag(@superhero.image) %>
          <h3><%= @superhero.name %></h3>
      </div>
      <div class="back">
        <div class="description">
          <h3><%= @superhero.name %></h3>
          <p><%= @superhero.deck %></p>
        </div>
  		</div>
  	</div>
  </div>

  <div>
  <!--   <p class="tweet"> HO </p> -->
  </div>
</div>


