<div class="row main superheros about">
  <%= image_tag("superherogang.png", :class => 'the-gang') %>
  <div class="large-15 columns">
    <br/>
    <h1>Who is your inner superhero?</h1>
    <p>Everyone has an inner superhero waiting to get out. Which superhero are you? <br/>We used our special super powers to create an algorithm to match your tweet personality<br/> to that of one of your favorite super heroes. To find out who you are, click the link below to <br/>login to twitter and get analyzed.</p>
    <%= link_to "click here", about_path, :class => 'analyze-me' %>
  </div>
</div>
