<nav>
  <ul>
    <li><a href="/about"><span>About</span></a></li>
    <li><a href="/user"><span>Who Am I?</span></a></li>
    <li><a href="/superheroes"><span>Superheroes</span></a></li>


  </ul>
</nav>
