    <li><a href="/about"><span>About Us</span></a></li>
    <li><a href="/user"><span>Welcome <%= current_user.nickname %></span></a></li>
    <li><a href="/superheroes"><span>Superheroes</span></a></li>
    <li><%= link_to "Logout", logout_path, method: :delete%></li>